.service-container {
    background-color: #ffffff;
    border: 1px solid none;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    padding: 30px 20px;
}

.service-container img {
    margin: 0 auto;
    display: block;
}

.service-container h1 {
    text-align: center;
    color: #444;
}

.service-container p {
    text-align: center;
    color: #777;
}

.service-container button {

    margin: 0 auto;
    display: block;
    background: #333;
    color: #fff;
    font-size: 17px;
    padding: 8px 25px;
    width: 200px;
    height: 50px;
    border: none;
    /* color: #00887a;
    background-color: #d3e3fc; */
    border-radius: 4px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.checkout-btn {
    text-decoration: none;
}